{% extends 'layout.html' %}

{% block content %}
{% load static %}

<header class="row no-gutters">
    <div class="col-md-4 d-flex justify-content-center align-items-center" style="padding-right: 5px;">
        <img src="{% static 'portfolio/imag_h.jpg' %}" alt="Profile Image" style="width: 200px; height: auto;">
    </div>
    <div class="col-md-8 d-flex flex-column justify-content-center align-items-center" style="text-align: center; padding: 20px; background-color: #1e1e1e; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);">

        <h1 style="font-family: 'Arial', sans-serif; font-weight: bold; font-size: 3em; letter-spacing: 2px; color: #ffffff; margin-bottom: 10px;">
            Jonathan Patiño
        </h1>
        <h3 style="font-family: 'Arial', sans-serif; font-weight: 300; font-size: 1.5em; color: #cccccc; margin-bottom: 15px;">
            Computer Engineer
        </h3>
        <p style="font-family: 'Arial', sans-serif; font-size: 1.1em; color: #dddddd; line-height: 1.6; max-width: 600px; margin: 0 auto;">
            Computer engineer working as a developer at the Robust System and Circuit Lab, National University of Córdoba, Argentina. Focused on system and circuit design, always looking for innovative solutions.
        </p>
    </div>
</header>

<div class="row my-4 text-center">
    <h3 style="font-family: 'Arial', sans-serif;">My Projects</h3>
    <p style="font-family: 'Arial', sans-serif;">Here I show some of the projects I developed during my university studies.</p>

    {% for project in projects %}
    <div class="col-md-4 p-2">
        <div class="card bg-black card-project">
            <a href="{% url 'report:report_detail' project.id %}" style="text-decoration: none; color: white; font-family: 'Arial', sans-serif;">
                <img src="{{ project.image.url }}" alt="{{ project.title }}" class="card-img-top" style="width: 100%; height: auto;">
                <div class="card-body">
                    <h2 style="font-family: 'Arial', sans-serif;">{{ project.title }}</h2>
                    <p style="font-family: 'Arial', sans-serif;">{{ project.description }}</p>
                    {% if project.url %}
                    <div class="btn-container_2" style="max-width: 320px; margin-top: 10px;">
                        <a href="{{ project.url }}" class="btn btn-light rounded-0 btn-sm" target="_blank" style="background-color: #7CAD9D; width: 100%; font-family: 'Arial', sans-serif;">Project</a>
                    </div>
                    {% endif %}
                </div>
            </a>
        </div>
    </div>
    {% endfor %}

    <h3><em style="color:#27AE60; font-family: 'Arial', sans-serif;">Ready for new challenges</em></h3>
</div>

{% endblock %}
